# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/

# Node
node_modules/
dist/
/build/

# OS
.DS_Store

# Misc
*.log
.idea/
.vscode/

# Docker
.env.*.local

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup

terraform/.terraform.lock.hcl
terraform/test.plan
